<form action="/auth/forget_password" method="POST">
  <input type="email" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <input type="password" name="confirmPassword" placeholder="Confirm password">
  <button>Reset password</button>
</form>
<a href="/" class="back">get back home</a>

<link rel="stylesheet" href="/style/forgetPassword.css">