<form action="/auth/login" method="POST">
  <h1>Login to <span class="gradient-text">Arkadius</span>!</h1>
  <input type="email" name="email" placeholder="Your email">
  <input type="password" name="password" id="password" placeholder="Your password">
  <p>Forget your password? <a href="/auth/forget_password">Reset password</a></p>
  <button>Login</button>
</form>
<p>Don't have an account? <a href="/auth/register">Create here</a></p>

<link rel="stylesheet" href="/style/auth.css">